* {
    margin: 0;
    padding: 0;
}

.header {
    background-color:#f81da8;
    color: white;
    border-radius: 0 0 20px 20px;
    margin: 0 20px;
}

.header__menu {
    display: flex;
    text-align: center;
}

.header__icon {
    width: 35px;
    height: 20px;
    margin-top: 20px;
}

.header__button {
    padding: 10px;
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.tabela__container {
    table-layout: auto;
    margin: 30px 41% 10px 10px;
    max-height: 63vh; 
    overflow-y: auto;
    width: 45%;
}

body {
    align-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}

table, th, tr, td {
    border: 1px solid white;
    border-collapse: collapse;
}

tr:hover {
    background-color: rgb(155, 113, 113);
    cursor: pointer;
}

#map {
    position: absolute;
    top: 90px;
    right: 0;
    width: 50%;
    height: 65vh;
}

.container {
    grid-template-columns: 40% 40%;
}